@import "./general-styles/system-design.css";
@import "./general-styles/colors.css";
@import "./general-styles/normalize.css";

/************header*********************/
header {
    background-color: var(--light);
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-block-end: 20px;
}

.nav-bar-container .menu-icon {
    display: none;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--page-inline-padding);
}

.search {
    display: flex;
    gap: 1rem;
}

/**************main body************************/

.blogs-cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-auto-rows: minmax(280px, auto);
    gap: 2rem;
    padding-inline: var(--page-inline-padding);
}

.blog-image {
    padding-block-end: 1rem;
}

.blog-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.author-image img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.share:hover, .heart:hover, .comment:hover, .view:hover {
    color: var(--action-button-hover);
    cursor: pointer;
}

.blog-card-container {
    background-color: var(--light);
    border: 1px solid var(--border);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.blog-card-container {
    padding: 1rem;
}

.blog-author-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 15px;
}

.author-data {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blog-details h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.blog-card-container p {
    color: var(--paragraph);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 15px;
}

.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.heart {
    color: var(--action-button);
}


/**********************footer*****************/

footer {
    background-color: var(--light);
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-block-start: 20px;
}

footer div:first-child {
    font-size: 2rem;
    margin-block-end: 0.8rem;
}

.subscribe-action input {
    width: 70%;
    padding: 10px;
    margin-inline-end: 10px;
    margin-block-end: 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1em;
}

.subscribe-action button {
    background-color: var(--action-button);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.subscribe-action button:hover {
    background-color: var(--action-button-hover);
}

footer div:last-child {
    margin-block-start: 1.5rem;
    font-size: 0.9rem;
}

/************ Media Queries *************/

/* For small screens (max-width: 320px) */
@media (max-width: 320px) {
    body {
        font-size: 0.8rem;
    }

    .search {
        width: 100%;
        justify-content: space-between;
        margin-inline-start: 1rem;
    }

    .home-link, .about-link {
        display: none;
    }

    .nav-bar-container .menu-icon {
        display: block;
    }

    .blogs-cards-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .blog-card-container > div {
        padding: 10px;
    }

    .subscribe-action input {
        width: 100%;
        margin-block-end: 10px;
    }

    .subscribe-action {
        flex-direction: column;
        align-items: flex-start;
    }

    .subscribe-action button {
        width: 100%;
    }

    footer div:first-child {
        font-size: 1rem;
        margin-block-end: 0.8rem;
    }
}

/* For large screens (min-width: 901px) */
@media (min-width: 901px) {
    .blogs-cards-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* For medium screens (min-width: 600px and max-width: 900px) */
@media (min-width: 600px) and (max-width: 900px) {
    .blogs-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
